html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}


/*BLACK BORDER*/

body {
    background-color: white;
}

#top,
#bottom,
#left,
#right {
    background: white;
    position: fixed;
}

#left,
#right {
    top: 0;
    bottom: 0;
    width: 40px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#bottom {
    left: 0;
    right: 0;
    height: 45px;
    color: black;
    font-family: Gotham, sans-serif;
    font-size: 30px;
    text-align: right;
    padding-top: 12px;
    padding-right: 40px;
	font-weight: 600;
}

#bottom {
	padding-bottom: 50px;
}

#top {
    left: 0;
    right: 0;
    height: 230px;
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size 25px;
    text-align: left;
    padding-top: 20px;
    padding-left: 25px;
    display: inline-block;
    overflow: hidden;
    position: fixed;
    transition: height 0.3s;
    z-index: 999;
	font-weight: 100;
}

#top.smaller img {
    width: auto;
    height: 80px;
    position: absolute;
}

#top.smaller {
    height: 100px;
    line-height: 75px;
    font-size: 25px;
}

#top.smaller a {
    height: 70px;
    line-height: 75px;
    font-size: 18px;
}

@media all and (max-width: 660px;
) {
    #top img {
        height: 40px;
    }
    #top.smaller {
        height: 50px;
    }
}

#top img {
    height: 160px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

#top a:hover {
    background-color: #427987;
	transition-duration: .2s;
	color: white;
	font-weight: 500;
}

#top ul {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 20px;
    float: right;
}

#top ul a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
	font-weight: 600;
    padding: 15px 60px;
    transition: all 1s;
    text-align: left
}

#top li {
    display: inline-block;
    margin-right: 50px;
}


/*
#top:hover {
    height: 50px;
}
*/


/*
#top img:hover {
    height: 30px;
}
*/

.circle {}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}


/*TEXT*/

h1 {
    font-family: Gotham, Verdana, sans-serif;
    font-size: 50px;
    color: black;
    line-height: 120px;
}

h2 {
    font-family: Gotham, Verdana, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #284F60;
    padding-bottom: 10px;
	line-height: 50px;
}

p {
	font-family: Courier;
    color: black;
    padding-top: 5px;
    font-size: 20px;
    padding-bottom: 15px;
}

p a {
    text-decoration: none;
    color: #284F60;
    font-weight: 600;
    transition: all .5s ease-in-out;
}

p a:hover {
    color: #8EA5AF;
}


/*HEADER*/



main {
    padding: 300px 120px 50px;
}

@media screen and (max-width:800px) {
    main {
        padding: 200px 50px 40px;
    }
}

main li {
    width: 20%;
    float: left;
    padding: 10px;
}

@media screen and (max-width: 1500px) {
    main li {
        width: 25%;
    }
}

@media screen and (max-width: 1250px) {
    main li {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    main li {
        width: 100%;
    }
}

main ul li img {
    width: 100%;
    display: block;
    transition: all 1s ease-in-out;
}

main ul li img:hover {
    /*color: #2b6475;*/
/*    opacity: 0.5;*/
    rgba( 64, 120, 133, 0.65);
    transition: all 1s ease-in-out;
    display: block;
}

.textoverimage {
    position: absolute;
    color: white;
    font-size: 30px;
    padding-left: 137px;
    padding-top: 212px;
    border: solid;
    background-color: rgba(64, 120, 133, 0.65);
    border-color: rgba(64, 120, 133, 0.1);
    vertical-align: middle;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.textoverimage:hover {
    opacity: 1;
}

#about {
    padding; 5px;
    line-height: 30px;
    float: right;
    padding: 5px;
    height: 30%;
    width: 50%;
    padding-bottom: 200px;
}

#pictureme img {
    float: left;
    height: auto;
    width: 40%;
}

#SocialMediaIcons img {
    height: 55px;
    width: auto;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
	display: inline-block;
}

#SocialMediaIcons img:hover {
    opacity: .5;
}

#SocialMediaIcons a img .behance {
    height: 30px;
    width: auto;
}

main {
    padding: 300px 120px 50px;
}