html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}


/*BLACK BORDER*/

body {
    background-color: white;
}

#top,
#bottom,
#left,
#right {
    background: white;
    position: fixed;
}

#left,
#right {
    top: 0;
    bottom: 0;
    width: 20px;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#bottom {
    left: 0;
    right: 0;
    height: 45px;
    color: black;
    font-family: Gotham, sans-serif;
    font-size: 30px;
    text-align: right;
    padding-top: 12px;
    padding-right: 40px;
	font-weight: 600;
}

#bottom {
	padding-bottom: 50px;
}

#top {
    left: 0;
    right: 0;
    height: 230px;
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    text-align: left;
    padding-top: 20px;
    padding-left: 25px;
    display: block;
    overflow: hidden;
    position: fixed;
    transition: height 0.3s;
    z-index: 900;
	font-weight: 100;
}

#logo img {
	height: 160px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
}

#top.smaller img {
    width: auto;
    height: 80px;
    position: absolute;
}

#top.smaller {
    height: 100px;
    line-height: 75px;
    font-size: 25px;
}

#top.smaller a {
    height: 70px;
    line-height: 75px;
    font-size: 18px;
}

@media all and (max-width: 660px) {
    #top img {
        height: 40px;
    }
    #top.smaller {
        height: 50px;
    }
}

#top a:hover {
    background-color: #427987;
	transition-duration: .2s;
	color: white;
	font-weight: 500;
}

#top ul {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 20px;
    float: right;
}

#top ul a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
	font-weight: 600;
    padding: 15px 60px;
    transition: all 1s;
    text-align: left
}

#top li {
    display: inline-block;
    margin-right: 50px;
}

#top {
    top: 0;
}

#bottom {
    bottom: 0;
}


/*TEXT*/

h1 {
    font-family: Gotham, Verdana, sans-serif;
    font-size: 50px;
    color: black;
}

p {
    font-family: Courier;
    color: black;
    align-content: center;
	line-height: 30px;
	right: 60%;
	font-size: 10pt;
}

h4 {
	font-family: Courier;
    font-weight: 700;
    font-size: 40px;
    color: #284F60;
    padding-bottom: 5px;
	padding-top: 10px;
	opacity: .6;
	padding-bottom: 100px;
}



/*HEADER*/



main {
    padding: 300px 120px;
}

@media screen and (max-width:800px) {
    main {
        padding: 200px 50px 40px;
    }
}

main li {
    width: 20%;
    float: left;
}


/*******Expanding********/


@media screen and (max-width: 1500px) {
    main li {
        width: 25%;
    }
}

@media screen and (max-width: 1250px) {
    main li {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    main li {
        width: 100%;
    }
}



/*******Shrinking*********/

@media screen and (max-width: 400px) {
	
	#top {
		width: 100%;
	}
	
	#top img {
		width: 30%;
		height: auto;
	}
	
	#top li {
		display: inline-block;
		margin-right: 0;
	}
	
    #top a {
        font-size: 10px;
		align-content: center;
    }
    
    #left, #right {
        width: 10px;
    }
    
    #bottom {
        width: 100%;
		font-size: 15px;
		padding-bottom: 5px;
		padding-left: 5px;
    }
}
    
/************COLOROVERLAY*************/

main ul li img {
    width: 100%;
    display: block;
    transition: all 1s ease-in-out;
    filter: none;
}

main li {
    position: relative;
}

main li div {
    background: RGBA(26, 80, 98, .7);
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    transition: all .5s ease-in-out;
}

main li:hover div {
    opacity: 1;
	transition-duration: .2s;
} 

main li p {
    transition: appear .25s ease-in-out;
    color: white;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    margin-top: 50%;
}

ul {
	padding-bottom: 1200px;
}


#project p {
	font-family: Gotham, Verdana, sans-serif;
    color: black;
    align-content: center;
	line-height: 20px;
}

video {
	border: 5px solid gray;
	height: 40px;
	width: auto;
}

.bike {
	height: 50px;
	width: auto;
}

#project img {
	width: 200px;
	height: auto;
}

#name {
	position: relative;
}

/*
.dropbtn {
	height: 30px;
	width: auto;
	position:relative;
    transition: .5s ease;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    float: right;
	top: 10px;
	left: 1950px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background: #f9f9f9;
	min-width: 160px;
	z-index: 9000000;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	font-family: Courier;
	display: block;
}

.dropdown-content a:hover {
	background-color: green;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.dropdown:hover .dropbtn {
	opacity: .5;
}*/
